.main-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: auto;
  background-image: url("public/playground_assets/b1111dc7-1500w.png");
  background-position: bottom left;
}
.main-container01 {
  width: 1200px;
  height: 963px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.main-container02 {
  height: 194px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: 2px;
}
.main-container03 {
  flex: 0 0 auto;
  width: 100%;
  height: 132px;
  display: flex;
  box-shadow: 5px 5px 10px 0px #7c7c7c;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  border-color: #91c3df;
  border-width: 5px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  background-color: #ffffff;
}
.main-image {
  width: 100px;
  height: 88px;
  object-fit: cover;
}
.main-text {
  padding: var(--dl-space-space-unit);
  font-size: 16px;
  align-self: flex-start;
  text-align: center;
  font-family: Verdana;
}
.main-container04 {
  width: 100%;
  height: 767px;
  display: flex;
  z-index: 70;
  box-shadow: 5px 5px 10px 0px #7c7c7c;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  border-color: #91c3df;
  border-width: 5px;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.main-container05 {
  width: 100%;
  height: 86px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.main-text01 {
  color: #000000;
  font-size: 3em;
  align-self: center;
  font-style: normal;
  text-align: left;
  font-family: Verdana;
  font-weight: 400;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  letter-spacing: 8px;
}
.main-text04 {
  color: #000000;
  font-size: 18px;
  align-self: center;
  font-style: normal;
  font-family: Verdana;
  font-weight: 400;
  letter-spacing: 2px;
}
.main-container06 {
  width: 100%;
  height: 809px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.main-image1 {
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 683px;
  margin: auto;
  z-index: 80;
  position: absolute;
  align-self: center;
  object-fit: cover;
}
.main-container07 {
  flex: 0 0 auto;
  width: 50%;
  height: 628px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.main-container08 {
  flex: 0 0 auto;
  width: 100%;
  height: 596px;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  border-color: #91c3df;
  border-style: solid;
  border-width: 5px;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.main-container09 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  z-index: 90;
  align-items: flex-start;
  flex-direction: column;
}
.main-text05 {
  color: #000000;
  font-size: 1.5em;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Verdana;
  font-weight: 400;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  letter-spacing: 1px;
}
.main-container10 {
  flex: 0 0 auto;
  width: 450px;
  display: flex;
  z-index: 90;
  align-items: flex-start;
  flex-direction: column;
}
.main-text08 {
  margin-top: var(--dl-space-space-unit);
  font-family: Verdana;
  margin-left: var(--dl-space-space-unit);
}
.main-container11 {
  flex: 0 0 auto;
  width: 450px;
  display: flex;
  z-index: 90;
  align-items: flex-start;
  flex-direction: column;
}
.main-text13 {
  margin-top: var(--dl-space-space-unit);
  font-family: Verdana;
  margin-left: var(--dl-space-space-unit);
}
.main-container12 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  z-index: 90;
  align-items: flex-start;
  flex-direction: column;
}
.main-text14 {
  margin-top: var(--dl-space-space-unit);
  font-family: Verdana;
  margin-left: var(--dl-space-space-unit);
}
.main-container13 {
  flex: 0 0 auto;
  width: 50%;
  height: 627px;
  display: flex;
  z-index: 90;
  align-items: flex-start;
}
.main-container14 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
}
.main-link {
  color: #000000;
  width: 50%;
  height: var(--dl-size-size-small);
  z-index: 90;
  align-self: flex-end;
  box-shadow: 5px 5px 10px 0px #484848;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  transition: 0.3s;
  font-family: Verdana;
  font-weight: 700;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #91c3df;
  border-width: 5px;
  padding-left: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: #ffffff;
}
.main-link:hover {
  transform: scale(1.05);
}
.main-link1 {
  color: #000000;
  width: 50%;
  height: var(--dl-size-size-small);
  z-index: 90;
  align-self: flex-end;
  box-shadow: 5px 5px 10px 0px #484848;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  transition: 0.3s;
  font-family: Verdana;
  font-weight: 700;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #91c3df;
  border-width: 5px;
  padding-left: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: #ffffff;
}
.main-link1:hover {
  transform: scale(1.05);
}
.main-link2 {
  color: #000000;
  width: 50%;
  height: var(--dl-size-size-small);
  z-index: 90;
  align-self: flex-end;
  box-shadow: 5px 5px 10px 0px #484848;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  transition: 0.3s;
  font-family: Verdana;
  font-weight: 700;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #91c3df;
  border-width: 5px;
  padding-left: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: #ffffff;
}
.main-link2:hover {
  transform: scale(1.05);
}
.main-button {
  color: #000000;
  width: 50%;
  height: var(--dl-size-size-small);
  z-index: 90;
  align-self: flex-end;
  box-shadow: 5px 5px 10px 0px #484848;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  transition: 0.3s;
  font-family: Verdana;
  font-weight: 700;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #91c3df;
  border-width: 5px;
  padding-left: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: #ffffff;
}
.main-button:hover {
  transform: scale(1.05);
}
.main-button1 {
  color: #000000;
  width: 50%;
  height: 65px;
  z-index: 90;
  align-self: flex-end;
  box-shadow: 5px 5px 10px 0px #484848;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  transition: 0.3s;
  font-family: Verdana;
  font-weight: 700;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #91c3df;
  border-width: 5px;
  padding-left: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: #ffffff;
}
.main-button1:hover {
  transform: scale(1.05);
}
.main-container15 {
  width: 100%;
  height: 776px;
  display: flex;
  box-shadow: 5px 5px 10px 0px #7c7c7c;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  border-color: #91c3df;
  border-width: 5px;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.main-container16 {
  width: 100%;
  height: 809px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.main-container17 {
  flex: 0 0 auto;
  width: 50%;
  height: 706px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.main-container18 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  border-color: #91c3df;
  border-style: solid;
  border-width: 5px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-white);
}
.main-container19 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.main-heading {
  color: #000000;
  width: 452px;
  font-size: 1em;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Verdana;
  font-weight: 700;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  letter-spacing: 1px;
}
.main-container20 {
  flex: 0 0 auto;
  width: 450px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.main-text19 {
  margin-top: var(--dl-space-space-unit);
  font-family: Verdana;
  margin-left: var(--dl-space-space-unit);
}
.main-container21 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}
.main-heading01 {
  color: #000000;
  width: 452px;
  font-size: 1em;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Verdana;
  font-weight: 700;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  letter-spacing: 1px;
}
.main-container22 {
  flex: 0 0 auto;
  width: 450px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.main-text23 {
  margin-top: var(--dl-space-space-unit);
  font-family: Verdana;
  margin-left: var(--dl-space-space-unit);
}
.main-container23 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}
.main-heading02 {
  color: #000000;
  width: 452px;
  font-size: 1em;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Verdana;
  font-weight: 700;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  letter-spacing: 1px;
}
.main-container24 {
  flex: 0 0 auto;
  width: 450px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.main-text31 {
  margin-top: var(--dl-space-space-unit);
  font-family: Verdana;
  margin-left: var(--dl-space-space-unit);
}
.main-container25 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}
.main-heading03 {
  color: #000000;
  width: 452px;
  font-size: 1em;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Verdana;
  font-weight: 700;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  letter-spacing: 1px;
}
.main-container26 {
  flex: 0 0 auto;
  width: 450px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.main-text39 {
  margin-top: var(--dl-space-space-unit);
  font-family: Verdana;
  margin-left: var(--dl-space-space-unit);
}
.main-container27 {
  flex: 0 0 auto;
  width: 50%;
  height: 706px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.main-container28 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  border-color: #91c3df;
  border-style: solid;
  border-width: 5px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-white);
}
.main-container29 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.main-heading04 {
  color: #000000;
  width: 452px;
  font-size: 1em;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Verdana;
  font-weight: 700;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  letter-spacing: 1px;
}
.main-container30 {
  flex: 0 0 auto;
  width: 450px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.main-text40 {
  margin-top: var(--dl-space-space-unit);
  font-family: Verdana;
  margin-left: var(--dl-space-space-unit);
}
.main-container31 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}
.main-heading05 {
  color: #000000;
  width: 452px;
  font-size: 1em;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Verdana;
  font-weight: 700;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  letter-spacing: 1px;
}
.main-container32 {
  flex: 0 0 auto;
  width: 450px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.main-text44 {
  margin-top: var(--dl-space-space-unit);
  font-family: Verdana;
  margin-left: var(--dl-space-space-unit);
}
.main-container33 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.main-heading06 {
  color: #000000;
  width: 452px;
  font-size: 1em;
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: left;
  font-family: Verdana;
  font-weight: 700;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  letter-spacing: 1px;
}
.main-container34 {
  flex: 0 0 auto;
  width: 450px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.main-text45 {
  margin-top: var(--dl-space-space-unit);
  font-family: Verdana;
  margin-left: var(--dl-space-space-unit);
}
.main-container35 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}
.main-heading07 {
  color: #000000;
  width: 452px;
  font-size: 1em;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Verdana;
  font-weight: 700;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  letter-spacing: 1px;
}
.main-container36 {
  flex: 0 0 auto;
  width: 450px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.main-text49 {
  margin-top: var(--dl-space-space-unit);
  font-family: Verdana;
  margin-left: var(--dl-space-space-unit);
}
.main-container37 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}
.main-heading08 {
  color: #000000;
  width: 452px;
  font-size: 1em;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Verdana;
  font-weight: 700;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  letter-spacing: 1px;
}
.main-container38 {
  flex: 0 0 auto;
  width: 450px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.main-image2 {
  width: 287px;
  height: 215px;
  margin-top: var(--dl-space-space-unit);
  object-fit: cover;
  margin-left: var(--dl-space-space-unit);
}
.main-container39 {
  width: 100%;
  height: 776px;
  display: flex;
  box-shadow: 5px 5px 10px 0px #7c7c7c;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  border-color: #91c3df;
  border-width: 5px;
  flex-direction: column;
  background-size: contain;
  background-color: var(--dl-color-gray-white);
  background-image: url("public/playground_assets/collage%5B1%5D-1500w.png");
  background-repeat: no-repeat;
  background-position: center;
}
.main-container40 {
  width: 100%;
  height: 809px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.main-container41 {
  flex: 0 0 auto;
  width: 50%;
  height: 706px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.main-container42 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.main-container43 {
  flex: 0 0 auto;
  width: 100%;
  height: 167px;
  display: flex;
  box-shadow: 5px 5px 10px 0px #525252;
  align-items: flex-start;
  border-color: #91c3df;
  border-style: solid;
  border-width: 4px;
  flex-direction: column;
  background-color: #ffffff;
}
.main-text53 {
  align-self: center;
  text-align: center;
  font-family: Verdana;
  padding-top: var(--dl-space-space-oneandhalfunits);
  letter-spacing: 5px;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  text-transform: uppercase;
}
.main-container44 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.main-container45 {
  flex: 0 0 auto;
  width: 30%;
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: var(--dl-space-space-halfunit);
  box-shadow: 5px 5px 10px 0px #505050;
  align-items: flex-start;
  border-color: #91c3df;
  border-width: 4px;
  flex-direction: column;
  background-color: #ffffff;
}
.main-text54 {
  transition: 0.3s;
  font-family: Verdana;
}

.main-container46 {
  flex: 0 0 auto;
  width: 60%;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
.main-link3 {
  display: contents;
}
.main-image3 {
  width: 100%;
  height: auto;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #4c4c4c;
  margin-top: var(--dl-space-space-unit);
  object-fit: cover;
  transition: 0.3s;
  border-color: #ffffff;
  border-width: 4px;
  text-decoration: none;
}
.main-image3:hover {
  transform: scale(1.05);
}
.main-container47 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.main-container48 {
  flex: 0 0 auto;
  width: 30%;
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: var(--dl-space-space-halfunit);
  box-shadow: 5px 5px 10px 0px #505050;
  align-items: flex-start;
  border-color: #91c3df;
  border-width: 4px;
  flex-direction: column;
  background-color: #ffffff;
}
.main-text59 {
  transition: 0.3s;
  font-family: Verdana;
}

.main-container49 {
  flex: 0 0 auto;
  width: 60%;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
.main-link4 {
  display: contents;
}
.main-image4 {
  width: 100%;
  height: 48px;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #4c4c4c;
  margin-top: var(--dl-space-space-unit);
  object-fit: cover;
  transition: 0.3s;
  border-color: #ffffff;
  border-width: 4px;
  text-decoration: none;
}
.main-image4:hover {
  transform: scale(1.05);
}
.main-container50 {
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 80%;
  bottom: 0px;
  margin: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: absolute;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #505050;
  align-items: flex-start;
  border-color: #91c3df;
  border-width: 4px;
  flex-direction: column;
  background-color: #ffffff;
}
.main-text62 {
  font-family: Verdana;
}
.main-container51 {
  width: 100%;
  height: 776px;
  display: flex;
  box-shadow: 5px 5px 10px 0px #7c7c7c;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  border-color: #91c3df;
  border-width: 5px;
  flex-direction: column;
  background-color: #a9ccf0;
}
.main-container52 {
  width: 100%;
  height: 809px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.main-container53 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.main-container54 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  box-shadow: 5px 5px 10px 0px #42667c;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  border-color: #ABDCE1;
  border-style: solid;
  border-width: 5px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-white);
}
.main-heading09 {
  color: #000000;
  width: 80%;
  font-size: 2em;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Verdana;
  font-weight: 700;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  letter-spacing: 1px;
}
.main-text65 {
  font-family: Verdana;
  margin-left: var(--dl-space-space-unit);
}
.main-container55 {
  width: 100%;
  height: 10px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
  background-color: #abdce1;
}
.main-container56 {
  width: 100%;
  height: 246px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}
.main-heading10 {
  color: #000000;
  width: 100%;
  font-size: 1em;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Verdana;
  font-weight: 700;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  letter-spacing: 1px;
}
.main-text68 {
  margin-top: var(--dl-space-space-unit);
  font-family: Verdana;
  margin-left: var(--dl-space-space-unit);
}
.main-heading11 {
  color: #000000;
  width: 100%;
  font-size: 1em;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Verdana;
  font-weight: 700;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  letter-spacing: 1px;
}
.main-text74 {
  margin-top: var(--dl-space-space-unit);
  font-family: Verdana;
  margin-left: var(--dl-space-space-unit);
}
.main-text77 {
  margin-top: var(--dl-space-space-unit);
  font-family: Verdana;
  margin-left: var(--dl-space-space-unit);
}
.main-text78 {
  margin-top: var(--dl-space-space-unit);
  font-family: Verdana;
  margin-left: var(--dl-space-space-unit);
}
.main-text79 {
  margin-top: var(--dl-space-space-unit);
  font-family: Verdana;
  margin-left: var(--dl-space-space-unit);
}
.main-text80 {
  margin-top: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-unit);
}
.main-container57 {
  height: 194px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-twounits);
}
.main-container58 {
  flex: 0 0 auto;
  width: 100%;
  height: 103px;
  display: flex;
  box-shadow: 5px 5px 10px 0px #7c7c7c;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  border-color: #91c3df;
  border-width: 5px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  background-color: #ffffff;
}
.main-link5 {
  padding: var(--dl-space-space-unit);
  font-size: 30px;
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-family: Verdana;
  font-weight: 700;
  text-decoration: none;
}
@media(max-width: 991px) {
  .main-container01 {
    width: 100%;
  }
  .main-text04 {
    width: 80%;
  }
  .main-image1 {
    width: 100%;
    height: 518px;
    padding-left: 0px;
  }
  .main-container07 {
    width: 60%;
  }
  .main-container10 {
    width: 100%;
  }
  .main-text08 {
    font-size: 14px;
  }
  .main-container11 {
    width: 80%;
  }
  .main-text13 {
    width: 100%;
    font-size: 14px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .main-container12 {
    width: 244px;
  }
  .main-text14 {
    width: 60%;
    font-size: 14px;
  }
  .main-text15 {
    width: 60%;
    font-size: 14px;
  }
  .main-container13 {
    width: 40%;
  }
  .main-button {
    height: 61px;
  }
  .main-button1 {
    height: 99px;
  }
  .main-container20 {
    width: 100%;
  }
  .main-text19 {
    font-size: 14px;
  }
  .main-container22 {
    width: 100%;
  }
  .main-text23 {
    font-size: 14px;
  }
  .main-container24 {
    width: 100%;
  }
  .main-text31 {
    font-size: 14px;
  }
  .main-container26 {
    width: 100%;
  }
  .main-text39 {
    font-size: 14px;
  }
  .main-container30 {
    width: 100%;
  }
  .main-text40 {
    font-size: 14px;
  }
  .main-container32 {
    width: 100%;
  }
  .main-text44 {
    font-size: 14px;
  }
  .main-container34 {
    width: 100%;
  }
  .main-text45 {
    font-size: 14px;
  }
  .main-container36 {
    width: 100%;
  }
  .main-text49 {
    font-size: 14px;
  }
  .main-container38 {
    width: 100%;
  }
  .main-text65 {
    font-size: 14px;
  }
  .main-text68 {
    font-size: 14px;
  }
  .main-text74 {
    font-size: 14px;
  }
  .main-text75 {
    font-size: 14px;
  }
  .main-text77 {
    font-size: 14px;
  }
  .main-text78 {
    font-size: 14px;
  }
  .main-text79 {
    font-size: 14px;
  }
}
@media(max-width: 767px) {
  .main-text {
    font-size: 10px;
  }
  .main-image1 {
    width: 100%;
    height: 420px;
  }
  .main-container07 {
    width: 70%;
  }
  .main-text05 {
    font-size: 1em;
  }
  .main-text08 {
    font-size: 10px;
    margin-top: var(--dl-space-space-halfunit);
  }
  .main-text13 {
    font-size: 10px;
    margin-top: var(--dl-space-space-halfunit);
  }
  .main-text14 {
    width: 60%;
    font-size: 10px;
    margin-top: var(--dl-space-space-halfunit);
  }
  .main-text15 {
    width: 80%;
    font-size: 10px;
    margin-top: var(--dl-space-space-halfunit);
  }
  .main-container13 {
    width: 30%;
  }
  .main-heading {
    font-size: 1em;
  }
  .main-text19 {
    font-size: 10px;
    margin-top: var(--dl-space-space-halfunit);
  }
  .main-heading01 {
    font-size: 1em;
  }
  .main-text23 {
    font-size: 10px;
    margin-top: var(--dl-space-space-halfunit);
  }
  .main-heading02 {
    font-size: 1em;
  }
  .main-text31 {
    font-size: 10px;
    margin-top: var(--dl-space-space-halfunit);
  }
  .main-heading03 {
    font-size: 1em;
  }
  .main-text39 {
    font-size: 10px;
    margin-top: var(--dl-space-space-halfunit);
  }
  .main-heading04 {
    font-size: 1em;
  }
  .main-text40 {
    font-size: 10px;
    margin-top: var(--dl-space-space-halfunit);
  }
  .main-heading05 {
    font-size: 1em;
  }
  .main-text44 {
    font-size: 10px;
    margin-top: var(--dl-space-space-halfunit);
  }
  .main-heading06 {
    font-size: 1em;
  }
  .main-text45 {
    font-size: 10px;
    margin-top: var(--dl-space-space-halfunit);
  }
  .main-heading07 {
    font-size: 1em;
  }
  .main-text49 {
    font-size: 10px;
    margin-top: var(--dl-space-space-halfunit);
  }
  .main-heading08 {
    font-size: 1em;
  }
  .main-heading09 {
    font-size: 1em;
  }
  .main-text65 {
    font-size: 10px;
    margin-top: var(--dl-space-space-halfunit);
  }
  .main-heading10 {
    font-size: 1em;
  }
  .main-text68 {
    font-size: 10px;
    margin-top: var(--dl-space-space-halfunit);
  }
  .main-heading11 {
    font-size: 1em;
  }
  .main-text74 {
    font-size: 10px;
    margin-top: var(--dl-space-space-halfunit);
  }
  .main-text75 {
    font-size: 10px;
    margin-top: var(--dl-space-space-halfunit);
  }
  .main-text77 {
    font-size: 10px;
    margin-top: var(--dl-space-space-halfunit);
  }
  .main-text78 {
    font-size: 10px;
    margin-top: var(--dl-space-space-halfunit);
  }
  .main-text79 {
    font-size: 10px;
    margin-top: var(--dl-space-space-halfunit);
  }
  .main-link5 {
    font-size: 14px;
  }
}
@media(max-width: 479px) {
  .main-text {
    font-size: 8px;
    padding-top: var(--dl-space-space-halfunit);
  }
  .main-image1 {
    width: 100%;
    height: 265px;
  }
  .main-container08 {
    width: 208px;
  }
  .main-container12 {
    width: 134px;
  }
  .main-link {
    font-size: 8px;
  }
  .main-link1 {
    font-size: 8px;
  }
  .main-link2 {
    font-size: 8px;
  }
  .main-button {
    font-size: 8px;
  }
  .main-button1 {
    font-size: 8px;
  }
  .main-link5 {
    font-size: 8px;
    padding-top: var(--dl-space-space-halfunit);
  }
}
